<header  class="header_wrap fixed-top header_with_topbar active">
    <div  class="top-header" style="">
        <div  class="container">
            <div  class="row align-items-center">
                <div  class="col-md-6">
                    <div 
                        class="d-flex align-items-center justify-content-center justify-content-md-start">
                        <div  class="me-3">
                            <div class="ddOutOfVision" id="msdrpdd20_msddHolder"
                                style="height: 0px; overflow: hidden; position: absolute;"><select
                                     name="countries" class="custome_select" id="msdrpdd20"
                                    tabindex="-1">
                                    <option  value="USD" data-title="USD"
                                        ng-reflect-value="USD">USD</option>
                                    <option  value="EUR" data-title="EUR"
                                        ng-reflect-value="EUR">EUR</option>
                                    <option  value="GBR" data-title="GBR"
                                        ng-reflect-value="GBR">GBR</option>
                                </select></div>
                            <div class="dd ddcommon borderRadius" id="msdrpdd20_msdd" tabindex="0" style="width: 52px;">
                                <div class="ddTitle borderRadiusTp"><span class="divider"></span><span
                                        class="ddArrow arrowoff"></span><span class="ddTitleText "
                                        id="msdrpdd20_title"><span class="ddlabel">USD</span><span class="description"
                                            style="display: none;"></span></span></div><input id="msdrpdd20_titleText"
                                    type="text" autocomplete="off" class="text shadow borderRadius"
                                    style="display: none;">
                                <div class="ddChild ddchild_ border shadow" id="msdrpdd20_child"
                                    style="z-index: 9999; display: none; position: absolute; visibility: visible; height: 99px;">
                                    <ul>
                                        <li class="enabled _msddli_ selected" title="USD"><span
                                                class="ddlabel">USD</span>
                                            <div class="clear"></div>
                                        </li>
                                        <li class="enabled _msddli_" title="EUR"><span class="ddlabel">EUR</span>
                                            <div class="clear"></div>
                                        </li>
                                        <li class="enabled _msddli_" title="GBR"><span class="ddlabel">GBR</span>
                                            <div class="clear"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <ul  class="contact_detail text-center text-lg-start">
                            <li ><i  class="ti-mobile"></i><span
                                    >+33 7 49 31 69 74</span></li>
                        </ul>
                    </div>
                </div>
                <div  class="col-md-6">
                    <div  class="text-center text-md-end">
                        <ul  class="header_list">
                            <li ><a  routerlink="/compare"
                                    ng-reflect-router-link="/compare" href="/compare"><i 
                                        class="ti-control-shuffle"></i><span
                                        >Compare</span></a></li>
                            <li ><a  routerlink="/wishlist"
                                    ng-reflect-router-link="/wishlist" href="/wishlist"><i 
                                        class="ti-heart"></i><span >Wishlist</span></a></li>
                            <li ><a  routerlink="/signin"
                                    ng-reflect-router-link="/signin" href="/signin"><i 
                                        class="ti-user"></i><span >Signin</span></a>
                            </li>
                            <li ><a  routerlink="/signup"
                                    ng-reflect-router-link="/signup" href="/signup"><i 
                                        class="ti-user"></i><span >Signup</span></a>
                            </li>
                            <li ></li>
                            <li ></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  class="bottom_header dark_skin main_menu_uppercase">
        <div  class="container">
            <nav  class="navbar navbar-expand-lg"><a 
                    routerlink="/" class="navbar-brand" ng-reflect-router-link="/" href="/">
                    <h2 >Jstore</h2>
                </a><button  type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-expanded="false"
                    class="navbar-toggler collapsed"><span 
                        class="ion-android-menu"></span></button>
                <div  id="navbarSupportedContent"
                    class="navbar-collapse justify-content-end collapse" style="">
                    <ul  class="navbar-nav">
                        <li  class="dropdown"><a  routerlink="/"
                                class="nav-link" ng-reflect-router-link="/" href="/">Home</a></li>
                        <li  class="dropdown"><a  href="#"
                                data-bs-toggle="dropdown" class="dropdown-toggle nav-link active"
                                aria-expanded="false">Pages</a>
                            <div  class="dropdown-menu">
                                <ul >
                                    <li ><a  routerlink="/about"
                                            class="dropdown-item nav-link nav_item" ng-reflect-router-link="/about"
                                            href="/about">About Us</a></li>
                                    <li ><a 
                                            routerlink="/contact" class="dropdown-item nav-link nav_item"
                                            ng-reflect-router-link="/contact" href="/contact">Contact Us</a></li>
                                    <li ><a  routerlink="/fqa"
                                            class="dropdown-item nav-link nav_item" ng-reflect-router-link="/fqa"
                                            href="/fqa">Faq</a></li>
                                    <li ><a 
                                            routerlink="/signin" class="dropdown-item nav-link nav_item"
                                            ng-reflect-router-link="/signin" href="/signin">Login</a></li>
                                    <li ><a 
                                            routerlink="/signup" class="dropdown-item nav-link nav_item"
                                            ng-reflect-router-link="/signup" href="/signup">Register</a></li>
                                    <li ><a  routerlink="/terms"
                                            class="dropdown-item nav-link nav_item" ng-reflect-router-link="/terms"
                                            href="/terms">Terms and Conditions</a></li>
                                </ul>
                            </div>
                        </li>
                        <li  class="dropdown dropdown-mega-menu"><a
                                 href="#" data-bs-toggle="dropdown"
                                class="dropdown-toggle nav-link" aria-expanded="false">Products</a>
                            <div  class="dropdown-menu">
                                <ul  class="mega-menu d-lg-flex">
                                    <li  class="mega-menu-col col-lg-3">
                                        <ul >
                                            <li  class="dropdown-header">Robes</li>
                                            <li ><a 
                                                    class="dropdown-item nav-link nav_item"
                                                    ng-reflect-router-link="/,product,bikini-unicolore-cte"
                                                    href="/product/bikini-unicolore-ctel-shop">Bikini unicolore
                                                    côtelé</a><a 
                                                    class="dropdown-item nav-link nav_item"
                                                    ng-reflect-router-link="/,product,jupe-crayon-taille-h"
                                                    href="/product/jupe-crayon-taille-haute-en-dentelle">Jupe crayon
                                                    taille haute en dentelle</a><a 
                                                    class="dropdown-item nav-link nav_item"
                                                    ng-reflect-router-link="/,product,jupe-imprim-floral-t"
                                                    href="/product/jupe-imprim-floral-taille-fronce">Jupe à imprimé
                                                    floral à taille froncée</a><a 
                                                    class="dropdown-item nav-link nav_item"
                                                    ng-reflect-router-link="/,product,robe-fines-brides-im"
                                                    href="/product/robe-fines-brides-imprim-tropical-en-dentelle">Robe à
                                                    fines brides à imprimé tropical en dentelle</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li  class="mega-menu-col col-lg-3">
                                        <ul >
                                            <li  class="dropdown-header">Jupes</li>
                                            <li ><a 
                                                    class="dropdown-item nav-link nav_item"
                                                    ng-reflect-router-link="/,product,bikini-unicolore-cte"
                                                    href="/product/bikini-unicolore-ctel-shop">Bikini unicolore
                                                    côtelé</a><a 
                                                    class="dropdown-item nav-link nav_item"
                                                    ng-reflect-router-link="/,product,jupe-noire-brillante"
                                                    href="/product/jupe-noire-brillante">Jupe noire brillante</a><a
                                                     class="dropdown-item nav-link nav_item"
                                                    ng-reflect-router-link="/,product,jupe-fendue-taille-h"
                                                    href="/product/jupe-fendue-taille-haute">Jupe fendue taille
                                                    haute</a><a 
                                                    class="dropdown-item nav-link nav_item"
                                                    ng-reflect-router-link="/,product,jupe-imprim-floral-t"
                                                    href="/product/jupe-imprim-floral-taille-fronce">Jupe à imprimé
                                                    floral à taille froncée</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li  class="mega-menu-col col-lg-3">
                                        <ul >
                                            <li  class="dropdown-header">Culotes </li>
                                            <li ><a 
                                                    class="dropdown-item nav-link nav_item"
                                                    ng-reflect-router-link="/,product,bikini-unicolore-cte"
                                                    href="/product/bikini-unicolore-ctel-shop">Bikini unicolore
                                                    côtelé</a><a 
                                                    class="dropdown-item nav-link nav_item"
                                                    ng-reflect-router-link="/,product,culotte-en-dentelle-"
                                                    href="/product/culotte-en-dentelle-mudey">Culotte en dentelle</a><a
                                                     class="dropdown-item nav-link nav_item"
                                                    ng-reflect-router-link="/,product,culotte-en-dentelle-"
                                                    href="/product/culotte-en-dentelle-espero">Culotte en dentelle</a><a
                                                     class="dropdown-item nav-link nav_item"
                                                    ng-reflect-router-link="/,product,culotte-en-dentelle"
                                                    href="/product/culotte-en-dentelle">Culotte en dentelle</a><a
                                                     class="dropdown-item nav-link nav_item"
                                                    ng-reflect-router-link="/,product,short-paillettes-bro"
                                                    href="/product/short-paillettes-broderie-dchir">Short à paillettes à
                                                    broderie déchiré</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li  class="mega-menu-col col-lg-3">
                                        <ul >
                                            <li  class="dropdown-header">Pantalons</li>
                                            <li ><a 
                                                    class="dropdown-item nav-link nav_item"
                                                    ng-reflect-router-link="/,product,pantalon-taille-haut"
                                                    href="/product/pantalon-taille-haute-carreaux-avec-zip">Pantalon
                                                    taille haute à carreaux avec zip</a><a 
                                                    class="dropdown-item nav-link nav_item"
                                                    ng-reflect-router-link="/,product,pantalon-carreaux-av"
                                                    href="/product/pantalon-carreaux-avec-cordon-la-taille">Pantalon à
                                                    carreaux avec cordon à la taille</a><a 
                                                    class="dropdown-item nav-link nav_item"
                                                    ng-reflect-router-link="/,product,pantalon-taille-fron"
                                                    href="/product/pantalon-taille-fronce-poches">Pantalon à taille
                                                    froncée à poches</a><a 
                                                    class="dropdown-item nav-link nav_item"
                                                    ng-reflect-router-link="/,product,pantalon-unicolore-t"
                                                    href="/product/pantalon-unicolore-taille-haute">Pantalon unicolore
                                                    taille haute</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div  class="d-lg-flex menu_banners row g-3 px-3">
                                    <div  class="col-sm-4">
                                        <div  class="header-banner"><img
                                                 alt="menu_banner1"
                                                src="/assets/files/megaCollection/11736749706614988691774027121876766721152610541684827357419.png">
                                            <div  class="banne_info">
                                                <h6 >10% Off</h6>
                                                <h4 >New Arrival</h4><a
                                                     href="http://localhost:4300/">Shop
                                                    Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div  class="col-sm-4">
                                        <div  class="header-banner"><img
                                                 alt="menu_banner1"
                                                src="/assets/files/megaCollection/8932488097310286313588503554459963159142614451684826970123.png">
                                            <div  class="banne_info">
                                                <h6 >15% Off</h6>
                                                <h4 >Men's Fashion</h4><a
                                                     href="http://localhost:4300/">Shop
                                                    Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div  class="col-sm-4">
                                        <div  class="header-banner"><img
                                                 alt="menu_banner1"
                                                src="/assets/files/megaCollection/1412527185807988177642011518607795945067036381684827015102.png">
                                            <div  class="banne_info">
                                                <h6 >23% Off</h6>
                                                <h4 >Kids Fashion</h4><a
                                                     href="http://localhost:4300/">Shop
                                                    Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li  class="dropdown dropdown-mega-menu"><a
                                 routerlink="/shop-list" class="nav-link"
                                ng-reflect-router-link="/shop-list" href="/shop-list">Shop</a></li>
                        <li ><a  routerlink="/contact"
                                class="nav-link nav_item" ng-reflect-router-link="/contact" href="/contact">Contact
                                Us</a></li>
                    </ul>
                </div>
                <ul  class="navbar-nav attr-nav align-items-center">
                    <li ><a  href="javascript:void(0);"
                            class="nav-link search_trigger"><i 
                                class="linearicons-magnifier"></i></a>
                        <div  class="search_wrap"><span 
                                class="close-search"><i 
                                    class="ion-ios-close-empty"></i></span>
                            <form  novalidate="" class="ng-untouched ng-pristine ng-valid">
                                <input  type="text" placeholder="Search" id="search_input"
                                    class="form-control"><button  type="submit"
                                    class="search_icon"><i 
                                        class="ion-ios-search-strong"></i></button></form>
                        </div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div  class="search_overlay"></div>
                    </li>
                    <li  class="dropdown cart_dropdown"><a 
                            href="#" data-bs-toggle="dropdown" class="nav-link cart_trigger"><i
                                 class="linearicons-cart"></i><span
                                 class="cart_count">31</span></a>
                        <div  class="cart_box dropdown-menu dropdown-menu-right">
                            <ul  class="cart_list">
                                <li ><a  href="#"
                                        class="item_remove"><i  class="ion-close"></i></a><a
                                         href="#"><img 
                                            width="50" height="50" alt="cart_thumb1"
                                            src="/assets/files/culottes/culotte_5/36851533762117856286455670026456984987161761684087224828.webp">Culotte
                                        en dentelle</a><span  class="cart_quantity"> 11 x
                                        <span  class="cart_amount"><span
                                                
                                                class="price_symbole">23,91&nbsp;€</span></span></span></li>
                                <li ><a  href="#"
                                        class="item_remove"><i  class="ion-close"></i></a><a
                                         href="#"><img 
                                            width="50" height="50" alt="cart_thumb1"
                                            src="/assets/files/culottes/culotte_9/116945623386141314594418897879593148825527931684087225230.webp">Culotte
                                        unicolore (sans couture)</a><span 
                                        class="cart_quantity"> 4 x <span 
                                            class="cart_amount"><span 
                                                class="price_symbole">44,54&nbsp;€</span></span></span></li>
                                <li ><a  href="#"
                                        class="item_remove"><i  class="ion-close"></i></a><a
                                         href="#"><img 
                                            width="50" height="50" alt="cart_thumb1"
                                            src="/assets/files/culottes/culotte_7/825380258783085919054835307976332473139779511684087224936.webp">Culotte
                                        en dentelle</a><span  class="cart_quantity"> 3 x
                                        <span  class="cart_amount"><span
                                                
                                                class="price_symbole">17,17&nbsp;€</span></span></span></li>
                                <li ><a  href="#"
                                        class="item_remove"><i  class="ion-close"></i></a><a
                                         href="#"><img 
                                            width="50" height="50" alt="cart_thumb1"
                                            src="/assets/files/970670668041335927385290724653240714148366921684565574162.webp">Bikini
                                        unicolore côtelé</a><span  class="cart_quantity"> 4
                                        x <span  class="cart_amount"><span
                                                
                                                class="price_symbole">28,24&nbsp;€</span></span></span></li>
                                <li ><a  href="#"
                                        class="item_remove"><i  class="ion-close"></i></a><a
                                         href="#"><img 
                                            width="50" height="50" alt="cart_thumb1"
                                            src="/assets/files/culottes/culotte_4/87087411019387380483560199609827534551691041684087224752.webp">Culotte
                                        unicolore femme (sans couture)</a><span 
                                        class="cart_quantity"> 2 x <span 
                                            class="cart_amount"><span 
                                                class="price_symbole">56,07&nbsp;€</span></span></span></li>
                                <li ><a  href="#"
                                        class="item_remove"><i  class="ion-close"></i></a><a
                                         href="#"><img 
                                            width="50" height="50" alt="cart_thumb1"
                                            src="/assets/files/culottes/culotte_2/64690629656996101166169787112869964617448491684087224479.webp">Tanga
                                        unicolore</a><span  class="cart_quantity"> 3 x <span
                                             class="cart_amount"><span
                                                
                                                class="price_symbole">38,84&nbsp;€</span></span></span></li>
                                <li ><a  href="#"
                                        class="item_remove"><i  class="ion-close"></i></a><a
                                         href="#"><img 
                                            width="50" height="50" alt="cart_thumb1"
                                            src="/assets/files/culottes/culotte_8/10518988473111520886581236853833613928085898971684087225041.webp">Culotte
                                        en dentelle</a><span  class="cart_quantity"> 1 x
                                        <span  class="cart_amount"><span
                                                
                                                class="price_symbole">58,43&nbsp;€</span></span></span></li>
                                <li ><a  href="#"
                                        class="item_remove"><i  class="ion-close"></i></a><a
                                         href="#"><img 
                                            width="50" height="50" alt="cart_thumb1"
                                            src="/assets/files/culottes/culotte_3/6138170893214881132536005127536132168491807951684087224669.webp">Culotte
                                        à blocs de couleurs en dentelle</a><span 
                                        class="cart_quantity"> 3 x <span 
                                            class="cart_amount"><span 
                                                class="price_symbole">54,95&nbsp;€</span></span></span></li>
                            </ul>
                            <div  class="cart_footer">
                                <p  class="cart_total"><strong
                                        >Subtotal:</strong><span
                                         class="cart_price"><span
                                            
                                            class="price_symbole"></span></span>1 057,58&nbsp;€ </p>
                                <p  class="cart_buttons"><a 
                                        routerlink="/cart" class="btn btn-fill-line view-cart"
                                        ng-reflect-router-link="/cart" href="/cart">View Cart</a><a
                                         routerlink="/checkout"
                                        class="btn btn-fill-out checkout" ng-reflect-router-link="/checkout"
                                        href="/checkout">Checkout</a></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>