{% extends 'base.html.twig' %}

{% block title %}Jstore | Shopping Cart {% endblock %}

{% block body %}
{% include "page_head/page_head.html.twig" with {'page_name': 'Cart'} %}

<div class="main_content" data-cart="{{cart_json}}">

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive shop_cart_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">&nbsp;</th>  
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>

                               
                                

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="medium_divider"></div>
                    <div class="divider center_icon"><i class="ti-shopping-cart-full"></i></div>
                    <div class="medium_divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="border p-3 p-md-4">
                        <div class="heading_s1 mb-3">
                            <h6>Cart Totals</h6>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="cart_total_label">Cart Subtotal</td>
                                        <td class="cart_total_amount"></td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">Shipping</td>
                                        <td class="cart_total_amount">Free Shipping</td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">Total</td>
                                        <td class="cart_total_amount"><strong></strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><a routerlink="/checkout" class="btn btn-fill-out" ng-reflect-router-link="/checkout"
                            href="/checkout">Proceed To CheckOut</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block javascripts %}

<script>
//si la page a fini de charger 
window.onload = () => {
    let mainContent = document.querySelector('.main_content')
    let tbody = document.querySelector('tbody')
    let cart_total_amount =  document.querySelectorAll('.cart_total_amount')
    let cart = JSON.parse(mainContent.dataset.cart);
    
    const formatPrice = (price) => {
        return Intl.NumberFormat('en-US', { style: 'currency', currency: 'EUR' })
            .format(price);
    }
    
    const fetchData = async (requestUrl) =>{
        const response = await fetch(requestUrl)
        return await response.json()
        
    }

    //récupérer les éléments du tbody pour ajout et remove les produits sans rechargement de la page
    const manageLink = async (event) => {
        event.preventDefault();
        const link = event.target.href ? event.target : event.target.parentNode 
        const requestUrl = link.href // => pour avoir directement l'URL qui permet l'ajout
        cart = await fetchData(requestUrl)
        initCart()
        //console.log(result)
    }

    const addEventListenerToLink = () => {
        const links = document.querySelectorAll('tbody a')
        links.forEach((link)=>{
            link.addEventListener("click", manageLink)
        })
    }

    const initCart = () =>{
        // initialisation du panier
        
        tbody.innerHTML = ""
        cart.items.forEach((item) => {   
            const { product, quantity, sub_total } = item
            //console.log(item)
            const content = ` <tr>
            <td class="product-thumbnail"><a><img width="50" alt="product1"
                                                    src="/assets/images/products/${product.imageUrls[0]}"></a>
                                        </td>
                                        <td data-title="Product" class="product-name"><a>${product.name}</a></td>
                                        <td data-title="Price" class="product-price">
                                            ${ formatPrice(product.soldePrice/100) }
                                        </td>
                                        <td data-title="Quantity" class="product-quantity">
                                            <div class="quantity">
                                                <a href="/cart/remove/${product.id}/1">
                                                    <input type="button" value="-" class="minus">
                                                </a>
                                                <input type="text" name="quantity" value="${ quantity }" title="Qty" size="4" class="qty">
                                                <a href="/cart/add/${product.id}/1">
                                                    <input type="button" value="+" class="plus">
                                                </a>
                                            </div>
                                        </td>
                                        <td data-title="Total" class="product-subtotal">
                                            ${formatPrice(sub_total/100)} </td>
                                        <td data-title="Remove" class="product-remove">
                                            <a href="/cart/remove/${product.id}/${item.quantity}">
                                                <i class="ti-close"></i>
                                            </a>
                                        </td>
            </tr>`
            tbody.innerHTML += content
        

            
        });

        cart_total_amount.forEach(cart_total_amount =>{  
                cart_total_amount.innerHTML = formatPrice(cart.sub_total/100)
            })
        addEventListenerToLink()
        }
    //appel de la fonction
    initCart()
    

}

</script>

{% endblock %}
